.title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    line-height: 143%;
    color: #FF6060;
}
/*responsive*/

@media (max-width:768px){
    .title{
        font-size: 18px;
    }
}