.stars{
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star{
    width: 24.7px;
    height: 24px;
}

/*responsive*/

@media (max-width:768px){
    .stars{
        width: 98px;
        height: 18px;
    }

    .star{
        width: 13.4px;
        height: 13px;

    }
}