header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img{
    height: 68px;
    display: flex;
    justify-content: start;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    text-align: right;
    vertical-align: bottom;
}

.header-nav a{
    margin-left: 70px;
    color: black;
}

/*responsive*/

@media (max-width:768px){
	.header-img{
        height: 46px;
	}

	.header-nav{
        font-size: 12px;
    }

    .header-nav a{
        margin-left: 20px;
    }

}
