.carrousel{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 100%;
    height: 415px;
}

.carrousel-img{
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.left{
    height: 79px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

.right{
    height: 79px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}

.compte{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    text-align: center;
    color: white;
}

/*responsive*/

@media (max-width:768px){
    .carrousel {
        height: 255px;
        border-radius: 10px;
    }

    .carrousel-img{
        border-radius: 10px;
    }

    .left,.right{
        height: 20px;
    }

    .compte{
        display: none;
    }



}