.banner {
    position: relative;
    height: 223px;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 25px;
}

.banner-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    mix-blend-mode: darken;
}

.banner-msg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-msg {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 143%;
    vertical-align: bottom;
    color: white;
}

.banner-about {
    position: relative;
    height: 223px;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 25px;
}

.banner-about-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    mix-blend-mode: darken;
}

/*responsive*/

@media (max-width:768px){
    .banner, .banner-about{
        height: 111px;
        border-radius:10px ;
    }

    .banner-img , .banner-about-img{
        border-radius: 10px;
    }

    .banner-msg-container{
        width: 220px;
        height: 48px;
        align-items: center;
        position: absolute;
        left: 130px;
    }

	.banner-msg{
        font-size: 24px;
    }
}