.banner {
    position: relative;
    height: 223px;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 25px;
}

.banner-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    mix-blend-mode: darken;
}

.banner-msg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-msg {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 143%;
    vertical-align: bottom;
    color: white;
}

.banner-about {
    position: relative;
    height: 223px;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 25px;
}

.banner-about-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    mix-blend-mode: darken;
}