.tags{
    display: flex;
    flex-direction: row;
}
.tag{
    width: 115px;
    min-height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    margin-top: 12px;
    margin-right: 10px;
}

/*responsive*/

@media (max-width:768px){
    .tags{
        flex-wrap: wrap;
    }

    .tag{
        font-size: 10px;
        width: 84px;
        height: 18px;
        border-radius: 5px;
    }
}