.article-container{
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*responsive*/

@media (max-width:768px){
	.article-container{
    background-color: white;
    padding:0;
  }
  .article-container a{
    width: 100%;
    padding:0 0 20px 0 ;
  }
}