footer{
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-img{
    margin-top: 66px;
    width: 122px;
    height: 40px;
    filter: brightness(100)
}

.footer-txt{
    margin-top: 30px;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    text-align: center;
    vertical-align: bottom;
}

/*responsive*/

@media (max-width:768px){
    footer{
        margin-top: 0;
    }
	.footer-txt{
        width: 100px;
        font-size: 12px;
    }
}