.host{
    display: flex;
    flex-direction: row;
    width: 167px;
    height: 64px;
}

.name-host{
    margin-right: 12px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #FF6060;
    border-radius: 25%;
    display: flex;
    align-items: center;
    text-align: end;
}

.img-host{
    height: 64px;
    width: 64px;
    border-radius: 100%;
}
