.host{
    display: flex;
    flex-direction: row;
    width: 167px;
    height: 64px;
}

.name-host{
    margin-right: 12px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #FF6060;
    border-radius: 25%;
    display: flex;
    align-items: center;
    text-align: end;
}

.img-host{
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

/*responsive*/

@media (max-width:768px){
    .host{
        justify-content: end;
        width: 135.5px;
        height: 33px;
    }

    .name-host{
        font-size: 12px;
    }

    .img-host{
        height: 32px;
        width: 32px;
    }

}
