.logements {
    margin: 25px;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    background-color: #FF6060;
    position: relative;
}

.logements-img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.logements-title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 143%;
    vertical-align: bottom;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 290px;
}

/*responsive*/

@media (max-width:768px){
	.logements{
        height: 255px;
        margin: 0;
        width: 100%;
    }
    .logements-img{
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }
    .logements-title{
        width: 80%;
    }
}