header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img{
    height: 68px;
    display: flex;
    justify-content: start;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    text-align: right;
    vertical-align: bottom;
    /**
    text-decoration: underline;
    text-decoration-style: solid;
    **/
}

.header-nav a{
    margin-left: 70px;
    text-decoration: none;
    color: black;
}
